# 2. Semana 05
Frank Quintana Quispe

Temas:

1. numeros
2. variables
3. Manejo de candenas
4. Ingreso de datos por teclado
5. Operaciones

MANEJO DE CADENA

In [1]:
cadena="Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [4]:
#Universidad Nacional Tecnologica de Lima Sur
#012345...........                       -3-2-1

In [6]:
cadena[5]

'r'

In [7]:
cadena[10]

'd'

In [8]:
#Tambien se tiene que considerar los espacios
cadena[11]

' '

In [9]:
cadena[-5]

'a'

In [10]:
cadena[21]

'T'

In [13]:
cadena[-23]

'T'

In [17]:
# Para mostrar una subcadena [desde, hasta una antes]
# En java era substring();
cadena[3:8]

'versi'

In [18]:
#Para saber el tamano de una cadena utilizamos len()
# incluye espacios en blanco
len(cadena)

44

In [19]:
#para mostrar una cadena en mayuscula utilizamos .upper() 
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [20]:
#ojito:........... Solo lo muestra, porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [23]:
#Si desearas cambiarlo
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [25]:
# para mostrar cadena en minuscula utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [26]:
# Para generar una lista a partir de una cadena utlizamos split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [27]:
# Para generar una lista de utilizando un criterio de separacion a partir de una cadena split()
#en este caso vamos a generar una lista de todad la cadena, utilizando como criterio de separacion la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [29]:
#forma clsica, concatenar con +
nombre= "Quintana Quispe"
print("Buenbos dias "+ nombre)

Buenbos dias Quintana Quispe

In [30]:
#utilizando el .format()
nombre = "pablo levano"
edad =12
print("hola {} ya se que tienes {} anos".format(nombre, edad))

hola pablo levano ya se que tienes 12 anos

In [32]:
#dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 es {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es 3.3333333333333335
10/3 es = 3.333

In [35]:
# Dar formato con f
# la funcion f, esta ddisponible desde la version 3.6
nombre = "daneli levano"
edad =10 
print(f"buenos dias {nombre}, ya se que tienes {edad} anos")

buenos dias daneli levano, ya se que tienes 10 anos

In [37]:
#dar formato a numeros con muchos decimales con f
resultado = 10/3 
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333