# 5. Semana 05
Frank Quintana Quispe

Temas:

1. numeros
2. variables
3. Manejo de candenas
4. Ingreso de datos por teclado
5. Operaciones

OPERACIONES

In [1]:
# 5.1 oPERADRES aRITMETICOS
#se tiene> +,-,*,/,**,%,//

In [2]:
numero1 =10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multi = numero1 * numero2
divi = numero1 / numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
cociente = numero1 // numero2

print(suma)
print(resta)
print(multi)
print(divi)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [3]:
#5.2 operadores de asignacion 
#se tiene =,+=,-=,*=, /=, **=
a = 5
a = a + 3
print(a)

8

In [4]:
# lo mismo de lo anterior
a = 5
a +=5
print(a)

10

In [5]:
#EJEMPLO:
numero= 5
numero =numero**3
print(numero)

125

In [6]:
# lo mismo de lo anterior
numero= 5
numero**=3
print (numero)

125

In [7]:
#condicionales

In [8]:
#5.4 operadores logicos
# se tiene: and, or , not 
numero1 =1
numero2=2
numero3=3
numero4=4

In [9]:
numero1<numero2

True

In [10]:
#el not invierte el resultado
not(numero1<numero2)

False

In [11]:
numero1<numero2 and numero3<numero4

True

In [12]:
# tambien puedes utilizar parentesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [13]:
# 5.5 operadores de pertenencia
# se tiene: in, not in

In [15]:
#ejemplo: 
aula= ["juan", "daniel","ruben"]
alumno1 ="diego"
alumno2 ="juan"

In [17]:
# diego esta en aula?
alumno1 in aula

False

In [18]:
#juan esta en aula?
alumno2 in aula

True

In [20]:
# diego no esta en aula?
alumno1 not in aula

True

In [21]:
#juan no esta en aula?
alumno2 not in aula

False

In [22]:
#5.6 operadores de identidad 
# se tiene: is, is not

In [24]:
aula1= ["juan", "daniel","ruben"]
aula2= ["juan", "daniel","ruben"]

# A continuacion vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [25]:
aula3 is aula1

True

In [26]:
#aula3 comparte comparte el mismo objeto que aula2?
aula3 is aula2

False

In [27]:
#aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [28]:
aula1.append("diego")

In [29]:
# al imprimir los elementos de las lista 
print(aula1)

['juan', 'daniel', 'ruben', 'diego']

In [30]:
print(aula3)

['juan', 'daniel', 'ruben', 'diego']

In [32]:
# Para abrir un archivo con la librer√≠a PIL
from PIL import Image
img = Image.open("miguel.png")
img.show()