# 2. Semana 05
Frank Quintana Quispe

Temas:

1. numeros
2. variables
3. Manejo de candenas
4. Ingreso de datos por teclado
5. Operaciones

---------------------
2. Variables

In [2]:
#Siempre deben de iniciar con una letra o un guion abajo.(nunca con un numero u otro signo)

In [3]:
edad=41
edad

41

In [11]:
nombre = "Frank"
nombre

'Frank'

In [6]:
apellido = "Quintana Quispe"
apellido

'Quintana Quispe'

In [12]:
nombrecompleto = nombre + apellido
nombrecompleto

'FrankQuintana Quispe'

In [13]:
nombrecompleto = nombre+" "+apellido
nombrecompleto

'Frank Quintana Quispe'

In [14]:
#Para saber el tipo de vairable utilizamos la funcion type()
#Por ejemplo:

In [15]:
numero=50
type(numero)

int

In [16]:
type(nombre)

str

In [17]:
talla=1.68
talla

1.68

In [18]:
type(talla)

float

In [20]:
# Para convertir el numero en cadena ultizamos str()
numero =100
cadena = str(numero)
cadena

'100'

In [22]:
type(cadena)

str

In [27]:
# Para convertir una cadena en un entero utilizamos int()
cadena2 ="50"
numero2 = int(cadena2)
numero2

50

In [28]:
type(numero2)

int

In [29]:
# Para convertir una cadena a un decimal utilizamos float()
cadena3 ="50"
numero3 = float(cadena3)
numero3

50.0

In [30]:
type(numero3)

float